.top-12 {
    top: 3rem;
}
.left-28 {
    left: 7rem;
}
.top-5 {
    top: 1.25rem;
}
.left-2 {
    left: 0.5rem;
}
.left-28 {
    left: 7rem;
}
.bottom-2 {
    bottom: .5rem;
}
.project-timeline{
    position: relative;
    &::after{
        content: '';
        width: .5rem;
        height: .5rem;
        position: absolute;
        top: 1.25rem;
        left: 0;
        border-radius: .125rem;
        border: 1px solid #d1d5db; 
        background-color: white;  
    }
    &::before{
        content: '';
        width: .125rem;
        position: absolute;
        left: 3px;
        top: 1.25rem;
        bottom: -1.25rem;
        background-color: #e5e7eb;
    }
}