.transpernt-gradient{
    background-image: linear-gradient(to right, $body-bg,  rgba($body-bg, 0.2));
}

.p-6px{
    padding: 6px;
}
@each $state in map-keys($theme-colors){
    .stroke-#{$state} {
        stroke: rgba(var(--#{$prefix}#{$state}-rgb), .2);
    }
}