.deckgo-highlight-code-carbon {
    --deckgo-highlight-code-carbon-background: #1f2937;
    --deckgo-highlight-code-carbon-color: #ffffff;
    --deckgo-highlight-code-token-atrule: #ec4899;
    --deckgo-highlight-code-token-function: #eab308;
    --deckgo-highlight-code-carbon-header-button-red-background: #ef4444;
    --deckgo-highlight-code-token-selector: #4ade80;
    --deckgo-highlight-code-font-size: 0.9063rem;
    --deckgo-highlight-code-carbon-header-button-width: 0.68rem;
    --deckgo-highlight-code-carbon-header-button-height: 0.68rem;
}