.alert {
    font-size: 0.875rem;
}

.alert-dismissible .btn-close {
    background-image: none;
    font-size: 18px;
    top: -5px;
    color: var(--#{$prefix}alert-color);
    box-shadow: none;
}

.alert-icon {
    position: relative;
    @include flexStyle(center);
    padding-left: 4rem;

    .icon {
        @include position(absolute, 0, null, 0, 0);
        @include flexStyle(center, center);
        width: 2.75rem;
        border-right: 1px solid var(--#{$prefix}alert-border-color);
    }
}

@if $enable-alerts-styles {

    // Generate contextual modifier classes for colorizing the alert
    @each $state in map-keys($theme-colors) {
        .alert-outline-#{$state} {
            --#{$prefix}alert-color: var(--#{$prefix}#{$state});
            --#{$prefix}alert-bg: var(--#{$prefix}body-bg);
            --#{$prefix}alert-border-color: var(--#{$prefix}#{$state});
            --#{$prefix}alert-link-color: var(--#{$prefix}#{$state});
        }

        .alert-sub-#{$state} {
            --#{$prefix}alert-color: var(--#{$prefix}#{$state}-text-emphasis);
            --#{$prefix}alert-bg: var(--#{$prefix}#{$state}-bg-subtle);
            --#{$prefix}alert-border-color: var(--#{$prefix}#{$state}-bg-subtle);
            --#{$prefix}alert-link-color: var(--#{$prefix}#{$state});
        }

        .alert-solid-#{$state} {
            --#{$prefix}alert-color: var(--#{$prefix}#{$state}-bg-subtle);
            --#{$prefix}alert-bg: var(--#{$prefix}#{$state});
            --#{$prefix}alert-border-color: var(--#{$prefix}#{$state});
            --#{$prefix}alert-link-color: var(--#{$prefix}#{$state}-bg-subtle);
        }
    }
}

// scss-docs-end alert-modifiers

.primary-gradient {
    background: linear-gradient(to right, $primary-500, $primary-700);
}

.secondary-gradient {
    background: linear-gradient(to right, $secondary-500, $secondary-700);
}

.success-gradient {
    background: linear-gradient(to right, $primary-500, $success-500);
}

.danger-gradient {
    background: linear-gradient(to right, $primary-950, $danger-950);
}

// Live Alerts

#liveAlertPlaceholder {
    @include position(fixed, 1.25rem, null, null, 50%);
    transform: translateX(-50%);
    z-index: $zindex-fixed;
}

// Icons Alerts

.alert-border-primary {
    border: 1px solid var(--#{$prefix}gray-200);
    border-top: 4px solid var(--#{$prefix}primary);

    .alert-discription {
        @include flexStyle(null, null);

        .icon-alert {
            height: 2.75rem;
            width: 2.75rem;
            border: 1px solid var(--#{$prefix}primary-bg-subtle);
            @include flexStyle(center, center);

            svg {
                height: map-get($avatar-sizes, 5);
                width: map-get($avatar-sizes, 5);
                color: $primary;
            }
        }
    }
}

.alert-border-success {
    border: 1px solid var(--#{$prefix}gray-200);
    border-top: 4px solid var(--#{$prefix}success);

    .alert-discription {
        @include flexStyle(null, null);

        .icon-alert {
            height: 2.75rem;
            width: 2.75rem;
            border: 1px solid var(--#{$prefix}success-bg-subtle);
            @include flexStyle(center, center);

            svg {
                height: map-get($avatar-sizes, 5);
                width: map-get($avatar-sizes, 5);
                color: $success;
            }
        }
    }
}

.alert-border-warning {
    border: 1px solid var(--#{$prefix}gray-200);
    border-top: 4px solid var(--#{$prefix}warning);

    .alert-discription {
        @include flexStyle(null, null);

        .icon-alert {
            height: 2.75rem;
            width: 2.75rem;
            border: 1px solid var(--#{$prefix}warning-bg-subtle);
            @include flexStyle(center, center);

            svg {
                height: map-get($avatar-sizes, 5);
                width: map-get($avatar-sizes, 5);
                color: $warning;
            }
        }
    }
}

.alert-border-danger {
    border: 1px solid var(--#{$prefix}gray-200);
    border-top: 4px solid var(--#{$prefix}danger);

    .alert-discription {
        @include flexStyle(null, null);

        .icon-alert {
            height: 2.75rem;
            width: 2.75rem;
            border: 1px solid var(--#{$prefix}danger-bg-subtle);
            @include flexStyle(center, center);

            svg {
                height: map-get($avatar-sizes, 5);
                width: map-get($avatar-sizes, 5);
                color: $danger;
            }
        }
    }
}

// Basic Alerts
.icon-box{
    height: map-get($spacers, 9);
}
.basic-alert{
    height: 2.5rem;
    width: 2.5rem;
    @include flexStyle(center, center);
    border: 4px solid map-get($colors, "white"); 
    @include position(absolute, -1.25rem, null, null, map-get($position-values, 50));
    transform: translateX(-50%);
    i{
        font-size: 1.125rem;
        line-height: $line-height-lg;
    }
}
