.timeline-date{
    position: relative;
    &::before{
        content: '';
        height: 1px;
        width: 1.75rem;
        @include position(absolute, .875rem, null, null, -1.25rem);
        background-color: $gray-200;
        z-index: 0;
    }
    &::after{
        content: '';
        width: .75rem;
        height: .75rem; 
        @include position(absolute, .5rem, null, null, -2rem);
        background-color: $primary;
        border-radius: 9999px;
    }
}