// comman css

.btn-navigation {
    box-shadow: 0 10px 15px -3px #0000001a;
    position: relative;
    display: inline-flex;

    a {
        color: $gray-500;
        padding: 1.5rem 1rem;
        position: relative;
        flex-grow: 1;
        text-align: center;
    }
}

// Bottom Navigation
.navigation-primary {
    &.active {
        color: $primary;
    }

    &:hover {
        color: $primary;
        transition: color 0.8s;
    }
}

// Animation Navigation
.navigation-secondary {

    &::before {
        content: '';
        @include position(absolute, null, null, 0px, 50%);
        width: 6px;
        height: 6px;
        border-radius: $border-radius-pill;
        transform: translateX(-50%);
        transition: $transition-base;
    }

    &.active {
        color: $secondary;

        &::before {
            background-color: $secondary;
            bottom: 10px;

        }
    }

    &:hover {
        color: $secondary;
        transition: $transition-base;

        &::before {
            background-color: $secondary;
            bottom: 10px;
            transition: $transition-base;
            transition-duration: .2s;
        }
    }
}

@each $state in map-keys($theme-colors) {
    .navigation-border-#{$state} {
        &::before {
            content: '';
            @include position(absolute, null, null, 0, 50%);
            width: 0;
            height: 0.125rem;
            background-color: var(--#{$prefix}#{$state});
            transform: translateX(-50%);
            transition: $transition-base;
            transition-duration: .3s;

        }
        &.top-border::before{
            @include position(absolute, 0, null, null, 50%);
        }
        &.active {
            color: var(--#{$prefix}#{$state});

            &::before {
                width: 100%;
            }
        }
        &:hover {
            color: var(--#{$prefix}#{$state});
            transition: $transition-base;

            &::before {
                width: 100%;
            }
        }
    }
}