.cookie-card {
    min-height: 18rem;
}

.horizontal-cookie {
    min-height: 24rem;
}

.consent-cookie {
    min-height: 11rem;
}

.cookie-policy{
    min-height: 8rem;
}
.translate-X {
    transform: translateX(-50%);
}