.dropdown-custom {
    @include position(relative);
    display: inline-block;

    .dropdown-menu {
        @include position(fixed);
        transition: opacity 0.3s ease, transform 0.3s ease;

        .dropdown-item {
            @include flexStyle(center);
            gap: 0.5rem;
        }
    }
}
.dropdown-menu.show {
    border: none;
    box-shadow: var(--#{$prefix}box-shadow);
}

.dropdown-menu-lg {
    width: 24rem;
}

.dropdown-menu-64 {
    width: 16rem;
}
.rotate {
    transform: rotate(180deg);
    transition: $icon-link-icon-transition;
}

@each $state in map-keys($theme-colors){
    .dropdown-#{$state}{
        color: var(--#{$prefix}#{$state});
        background-color: var(--#{$prefix}#{$state}-bg-subtle);
    }
}