.input-group-spin {
    width: 8rem;
    height: 2.5rem;
    @include flexStyle;
    border: 1px solid $gray-200;
    border-radius: $border-radius;

    .form-control {
        width: 3rem;
        height: 100%;
        text-align: center;
        font-weight: 500;
        border-radius: 0;
        padding: 0;
        border-top-width: 0;
        border-bottom-width: 0;

        &:focus {
            border-color: $gray-200;
        }
    }

    .input-spin-plus,
    .input-spin-minus {
        min-width: 2.5rem;
        height: 100%;
        border: 0;
        background-color: transparent;
        padding: 0;
    }
}

@each $state in map-keys($theme-colors) {
    .input-spin-#{$state} {
        button:hover {
            svg {
                color: var(--#{$prefix}#{$state});
                transition: $transition-base;
            }
        }
    }

    .input-solid-#{$state} {

        .input-spin-plus,
        .input-spin-minus {
            background-color: var(--#{$prefix}#{$state});
            color: $body-bg;
        }

        .input-spin-minus {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        .input-spin-plus {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    .input-Boxed-#{$state} {
        .input-group-spin {
            height: 40px !important;
        }

        .input-spin-plus,
        .input-spin-minus {
            min-width: 34px;
            background-color: var(--#{$prefix}#{$state}-bg-subtle);
            color: var(--#{$prefix}#{$state});
            border-radius: $border-radius;
        }

        .form-control {
            border-left-width: 0;
            border-right-width: 0;
        }

    }
}

.input-borderless {
    .form-control {
        border-left-width: 0;
        border-right-width: 0;
    }
}