.spin {
    height: $spinner-width;
    width: $spinner-height;
    border-radius: $border-radius-pill;
}

// Modern Spin Loader
.modern-spinner {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

// Gradient Loader
.bg-gradient {
    border-color: $primary $success $warning $danger !important;
}

.bg-gradient2 {
    border-color: $info $pink $secondary $primary !important;
}

.bg-sub-gradient {
    border-color: $primary-border-subtle $success-border-subtle $warning-border-subtle $danger-border-subtle !important;
}

// Button
.circle {
    margin-top: -.25rem;
    margin-right: -.25rem;
}

.loader-button-animation {
    @include position(absolute, -0.2188rem, -0.2188rem, null, null);
}

// Loading dots
.animate-bonus {
    &.delay-150 {
        animation-delay: -0.3s;
    }

    &.delay-300 {
        animation-delay: -.15s;
    }
}