// scss-docs-start theme-text-map
$theme-colors-text: (
  "indigo": $indigo-text-emphasis,
  "pink": $pink-text-emphasis,
  "orange": $orange-text-emphasis,
);
// scss-docs-end theme-text-map

// scss-docs-start theme-bg-subtle-map
$theme-colors-bg-subtle: (
    "indigo": $indigo-bg-subtle,
    "pink": $pink-bg-subtle,
    "orange": $orange-bg-subtle
);
// scss-docs-end theme-bg-subtle-map

// scss-docs-start theme-border-subtle-map
$theme-colors-border-subtle: (
    "indigo": $indigo-border-subtle,
    "pink": $pink-border-subtle,
    "orange": $orange-border-subtle
);
// scss-docs-end theme-border-subtle-map


$theme-colors-text-dark: (
  "indigo": $indigo-text-emphasis-dark,
  "pink": $pink-text-emphasis-dark,
  "orange": $orange-text-emphasis-dark,
);

$theme-colors-bg-subtle-dark: (
    "indigo": $indigo-bg-subtle-dark,
    "pink": $pink-bg-subtle-dark,
    "orange": $orange-bg-subtle-dark
);

$theme-colors-border-subtle-dark: (
    "indigo": $indigo-border-subtle-dark,
    "pink": $pink-border-subtle-dark,
    "orange": $orange-border-subtle-dark
);