.main-footer {
    @include position(absolute, null, 0, 0, 0);
    @include flexStyle(center);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.5rem;
    border-top: 1px solid var(--#{$prefix}border-color);

    @include media-breakpoint-up(lg) {
        left: var(--#{$prefix}sidebar);
    }

    @include media-breakpoint-up(xl) {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}