<div class="main-footer">
    <div class="w-100">
        <div class="row row-cols-2">
            <div class="hidden lg:block">
                <ul class="d-flex align-items-center mb-0 list-unstyled gap-4">
                    <li><a href="#!" class="font-medium text-muted transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">About</a></li>
                    <li><a href="#!" class="font-medium text-muted transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">Support</a></li>
                    <li><a href="#!" class="font-medium text-muted transition duration-300 ease-linear dark:text-dark-500 hover:text-primary-500 dark:hover:text-primary-500">Purchase Now</a></li>
                </ul>
            </div>
            <div class="text-center text-muted dark:text-dark-500 text-lg-end">
                <div x-data="{ year: new Date().getFullYear() }">
                    &copy; <span x-text="year"></span> Domiex. Crafted by <a href="#!" class="font-semibold">PixelEyez</a>
                </div>
            </div>
        </div>
    </div>
</div>