<script>
    if (localStorage.getItem('layoutMode') === "dark")
        document.documentElement.setAttribute('data-mode', 'dark')
</script>
<!-- Bootstrap Css -->
<link href="assets/scss/bootstrap.scss" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="assets/scss/icons.scss" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="assets/scss/app.scss" rel="stylesheet" type="text/css" />
<link href="assets/libs/simplebar/simplebar.min.css" rel="stylesheet" type="text/css" />
<!-- Aos Animation -->
<link href="../assets/libs/aos/dist/aos.css" rel="stylesheet" type="text/css" />
<!-- Simple Bar -->
<link href="../assets/libs/simplebar/dist/simplebar.css" rel="stylesheet" type="text/css" />
<!-- Swiper -->
<link href="../assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
<!-- Line Awesome -->
 <link rel="stylesheet" href="../assets/libs/line-awesome/dist/line-awesome/css/line-awesome.min.css">
 
<script type="module" src="assets/js/admin.bundle.js"></script>

 