<script>
    if (localStorage.getItem('layoutMode') === "dark")
        document.documentElement.setAttribute('data-mode', 'dark')
</script>
<!-- Bootstrap Css -->
<link href="assets/scss/bootstrap.scss" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="assets/scss/icons.scss" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="assets/scss/app.scss" rel="stylesheet" type="text/css" />
<link href="assets/libs/simplebar/simplebar.min.css" rel="stylesheet" type="text/css" />
<script type="module" src="assets/js/admin.bundle.js"></script>