.avatar-hover {
    margin-left: -12px;
    &:first-child{
        margin-left: 0px;
    }
    &:hover {
        z-index: 10;
        position: relative;
        transition: z-index 0.3s ease;
    }
}
.rounded-modern {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
@each $state in map-keys($theme-colors){
    .bg-gradient-b-#{$state}{
        background-image: linear-gradient(to top, rgba(var(--#{$prefix}#{$state}-rgb), 0.1), rgba(var(--#{$prefix}#{$state}-rgb), 0));
    }
}
.line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
  }