.timeline-line {
    position: relative;

    li {
        position: relative;

        &:last-child {
            &::before {
                content: none;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: -1.5rem;
            bottom: -0.5rem;
            left: 16px;
            width: 0.0625rem;
            background-color: $gray-200;
            z-index: -1;
        }
    }
}