.widget-banner {
    .banner-circle {
        border-width: 20px;
        border-style: solid;
        width: 14rem;
        height: 14rem;
        @include position(absolute, null, -3rem, -3rem, null)
    }

    img {
        @include position(absolute, null, .75rem, -1.5rem, null);
    }
}

@each $state in map-keys($theme-colors) {
    .widget-banner-#{$state} {
        --#{$prefix}card-bg: var(--#{$prefix}#{$state}-bg-subtle);
        --#{$prefix}card-border-color: var(--#{$prefix}#{$state}-border-subtle);

        .banner-circle {
            border-color: rgba(var(--#{$prefix}#{$state}-rgb), 0.1);
        }
    }
}

.svg-path {
    stroke: rgba(225, 228, 235, 0.15);
}