.timeline-step {
  position: relative;
  padding: .375rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 2px solid white;
  text-align: center;
  z-index: 10;
}

.step-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #888;
  white-space: nowrap;
}

.step-current {
  background-color: $primary;
  border-color: #fff;
}

.track-timeline-line {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: $gray-200;
}

.line {
  position: absolute;
  width: 50%;
  top: 6px;
  left: 0;
  height: 0.2em;
  background-color: $primary;
  padding-bottom: 0;
}

.outline-offset-0 {
  outline-offset: 0;
}