

.separate-table {

    &.table-bordered> :not(th)>*>* {
        border-width: 0;
        border-top: 1px solid $gray-200;
        border-bottom: 1px solid $gray-200;

    }

    td:first-child {
        border-left: 1px solid $gray-200;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    td:last-child {
        border-right: 1px solid $gray-200;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

}