.modal-square{
    height: 6rem;
    background: linear-gradient(to right, rgba($primary-500, 0.2), rgba($pink-500, 0.2), rgba($success-500, 0.2));
}
.-mt-16{
    margin-top: -4rem;
}
.lead-simplebar{
    max-height: calc(100vh - 25.1rem);
 
}
.w-350{
    width: 350px;
}
.main-simplebar{
    margin: 0 -20px;
}