.jvm-container path {
    fill: #f3f4f6;
}
.jvm-zoom-btn.jvm-zoomin {
    top: .625rem;
}

.jvm-zoom-btn:where([dir=ltr],[dir=ltr] *) {
    left: .625rem;
}
.jvm-zoom-btn.jvm-zoomout {
    top: 1.75rem;
}
.jvm-zoom-btn {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    width: .875rem;
    height: .875rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    background-color: #000;
    line-height: 10px;
    color: white;
}
.-left-5{
  left: -5px;
}
.avatar-dot {
  bottom: .375rem;
  right: 0.5rem;
}