.email-header {
    transition: $transition-base;
    &.fixed {
        box-shadow: 10px 5px 10px rgb(133, 133, 133, 0.10);
        transition: $transition-base;
    }
}

.email-banner {
    padding-top: 20rem;
    padding-bottom: 12rem;

    img {
        transform: scale(1.8);
        top: auto;
        right: -22rem;
        position: relative;
    }
}

.email-service {
    padding: 6rem 0;
}

.email-pricing {
    padding: 6rem 0;

    .price-circle {
        bottom: -4rem;
        right: -4rem;
        border: 40px solid var(--#{$prefix}gray-100);
    }
}

.email-features {
    padding-bottom: 6rem;
}

.email-templates {
    background-color: $primary-900;
    padding: 6rem 0;

    img {
        transform: scale(1.5);
    }
}

.email-accordian {
    padding: 6rem 0;

    .accordion-button:not(.collapsed) {
        color: var(--#{$prefix}gray-500);
    }

    .accordion-body {
        color: var(--#{$prefix}gray-500);
        padding: 1.25rem;
    }
}

.email-update {
    padding-top: 6rem;
    background-color: var(--#{$prefix}gray-50);

    img {
        margin-bottom: -1.25rem;
        border: 2px solid var(--#{$prefix}gray-200);
    }
}

.email-footer {
    background-color: var(--#{$prefix}gray-900);

    .top-content {
        padding: 5rem 0;

        .footer-icon {
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgb(31 41 55 / 0.5);
                border-radius: 0.5rem;
                transform: rotate(-45deg);
            }
        }

    }
}