.invoice-header {
    transition: $transition-base;
    &.fixed {
        box-shadow: 10px 5px 10px rgb(133, 133, 133, 0.10);
        transition: $transition-base;
    }
}
.invoice-banner {
    padding: 9rem 0 5rem 0;

    .invoice-title {
        letter-spacing: 0.025em;
    }

    .invoice-input {
        padding: 0.5625rem 9rem 0.5625rem 1.5rem;
        background-color: transparent;

        &.form-control:focus {
            border-color: var(--#{$prefix}secondary);
        }
    }

    .form-select:focus {
        border-color: var(--#{$prefix}secondary);
        outline: 0;
        box-shadow: none;
    }
}

.invoice-case {
    .thumbnails {
        @include position(absolute, null, -6rem, -6rem, null);
        z-index: -1;
    }

    img {
        box-shadow: 0 10px 15px -3px #e5e7eb;
    }
}

.trial-section {
    padding: 6rem 0;
    background: url('../images/invoice/cta.jpg');
    background-size: cover;
    position: relative;

    .trial-title {
        position: absolute;
        inset: 0;
        top: 6rem;
        color: rgba(var(--#{$prefix}dark-rgb), 0.2);
    }
}

.invoice-contactUs {
    .form-group {
        position: relative;

        .form-control {
            &:focus {
                border-color: var(--#{$prefix}secondary);
            }
        }

        .form-label {
            @include position(absolute, 50%, null, null, 1rem);
            transform: translateY(-50%);
            padding: 0 16px;
            transition: $transition-base;
            &.messaageInput{
                @include position(absolute, 1.75rem, null, null, 1rem);
            }

        }

        .form-control:focus+.form-label{
            transform: translateY(-45px) translateX(-10px);
            padding: 0 0.5rem;
            scale: 0.85;
            transition: $transition-base;
        }
    }
}